* {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei, sans-serif;
}
a{
	color: #fff;
	text-decoration: none;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
    min-width: 980px;
    background: #e2e2e2;
}
/*header css*/
.header {
	position: relative;
	width: 100%;
	height: 80px;
	background-color: #47456D;
}
.nav-wrap {
	position: relative;
	width: 980px;
	height: 80px;
	margin:0 auto;
}
.nav {
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.nav ul {
	float: right;
}
.nav li{
	float: left;
	font:14px Simsun,sans-serif;
	margin-left: 28px;
}
.logo {
	position: absolute;
	bottom:10px;
	left: 10px;
}
.chaos2171053 {
	color: #fff;
	font-size: 30px;

}
.icon-github {
	position: absolute;
	bottom: 5px;
	right: 20px;
}

/* main-index css*/
.description {
    font-size: 0;
}
.description-text-wrap {
	position: relative;
	width: 980px;
	margin: 0 auto;
}
.description-text {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 300px;
	font-size: 12px;
	padding: 10px 10px 30px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(75%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* W3C */
}
.description-text h1 {
	text-align: right;
	font-size: 14px;
	margin-bottom: 12px;

}

.description-text p {
    line-height: 150%;
}

.post-left {
	margin-right: 10px;
}
.post {
	width: 320px;
	float: left;
/*	margin-top: 10px;
	margin-right: 0;
	margin-left: 0;*/
	margin:10px 0 -6666px;/*为了使三个<article>的高度一样，设置margin-bottom和padding-bottom一样*/
	padding-bottom: 6666px;
	background-color: #fff;
	
}
.post img {
	width: 300px;
	height: 180px;
	margin: 10px 10px 15px;
}
.post p {
	font-size: 12px;
	text-indent: 2em;
	line-height: 170%;
	margin:0 30px 25px;
}
.index-content {
	width: 980px;
	margin:0 auto;
    overflow: hidden;
}
.information {
	margin:100px 0 0;
	height: 500px;
	text-align: center;
	background-color: #fff

}
.information img {
	height: 160px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius:50%;
	margin:-30px 0 30px;
}
.information h1 {
	font-size: 20px;
	font-family: Century Gothic;
	margin-bottom: 40px;
}
.information p {
	font-size: 14px;
	text-indent: 2em;
	width: 600px;
	margin: 0 auto;
	text-align: left;
	line-height: 170%;
}
/*footer css*/


.footer {
	clear: both;
	font-size: 12px;
	background: #000;
}
.footer-nav ul {
	float:left;
	left: 50%;
	position: relative;
	margin:10px 0;

}
.footer-nav li {
	float: left; 
	position: relative;
	right: 50%;
	margin: 0 12px;
}
.link {
	width: 980px;
	margin:0 auto 50px;
	text-align: center;
	clear: left;
	overflow: hidden;
}
.link hr {
	border: none;
	border-top: 1px solid #e2e2e2;
}
.link-item {
	float:left;
	width: 196px;
}
.link-title {
	color: #fff;
	font-size: 13px;
	margin: 30px 0 20px;
}
.link-content {
    line-height: 170%；
}
.link-content li :hover {
	text-decoration: underline;
}

.link-content li {
	margin: 8px 0;
}
.copyright {
	text-align: center;
}
.copyright p {
	color: #fff;
	margin-bottom: 20px;
}

/*blog css*/
.blog-center {
    width: 980px;
    margin: 20px auto 0;
}
.blog-content {
	width: 710px;
	float:left;
	margin-right: 10px;
}
.blog-post {
	position: relative;
	margin-bottom: 10px;
	padding: 20px;
	background: #fff;
}
.tag {
	position: absolute;
	left: -50px;
	top: 20px;
	width: 50px;
	background: #fff;
	font-size: 14px;
}
.tag-data {
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #47456D;
	color:#fff;
}
.tag-type {
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #92C0EF;
	color: #fff;
}
.blog-post h1 {
	color: #47456D;
	font-size: 16px;
	margin-bottom: 10px
}
.blog-post h2 {
	color: #666;
	font-size: 12px;
	margin-bottom: 15px;
}
.blog-post p {
	font-size: 12px;

	margin-bottom: 30px;
}
.blog-post section {
	font-size: 10px;
	color: #888;
	text-align: right;
}
.number-wrap {
	margin: 0 auto 100px;
	width: 550px;
}
.number {
	float:left;
	text-align: center;
	padding: 12px 15px;
	margin: 0 5px;
	font-size: 12px;
	background: #fff;
}
.number-invalid {
	color: #888;
}
.number-now {
	color: #fff;
	background: #92C0EF;
}
.number a {
	color: #000;
}

.sidebar-form {
	float:right;
	width: 260px;
	margin-bottom: 10px;
	background: #fff;
}
.search {
    position: relative;
    border: #e2e2e2 1px solid;
    margin: 20px;
    font-size: 0;
    height: 40px;
}
.search:hover {
    border: #47456D 1px solid;
}

.keyword {
    position: absolute;
    top: 0;
    width: 170px;
    height: 40px;
    border: none;
    outline: medium;
   /* background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-size: 144px;*/
}
.keyword:focus {
  /*  background-image: none;*/
}

.submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 40px;
    border: none;
    font-size: 18px;
    color: #fff;
    background: #e2e2e2;
}
.submit:hover {
    background: #47456D;
}
.sidebar-form {
	float: right;
	width: 260px;
	margin-bottom: 10px;
	background: #fff;
}
.post-type {
	font-size: 14px;
	color: #888;
	line-height: 50px;
	padding-left: 20px;
	border-width: 0 0 1px 5px;
	border-style: solid;
	border-color: #92C0EF;
}
.post-type:hover {
    border-left-color: #47456D;
    color: #000;
}
.calendar{
	margin:20px;
	width: 220px;
	height: 220px;
	text-align: center;
	border-collapse: collapse;
	color: #888;
	font-size: 12px;
}
.calendar-dark {
	color: #47456D;
	font-weight: bold;
}
.calendar-now {
	color: #fff;
	background: #47456D;
}
.calendar tr {
	border-bottom: 1px solid #92C0EF;
}

.tag-title {
	font-size: 12px;
	color: #888;
	margin-bottom: 20px;
}
.tag-item {
	color: #47456D;
	font-size: 12px;
}
.tag-more {
	font-size: 30px;
}
.tag-less {
	font-size: 20px;
}
.side-tag {
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    padding: 15px;
    margin-bottom: 100px;
}